.introduction.base-height
  PageTitle(:title-text="pageTitleText")
  el-row
    el-col.images-content.center-content(:span="9")
      .self-image
        img(src="../../assets/self_image.png", alt="self-image")
    el-col.text-content-wrapper.center-content(:span="15")
      .text-content
        .name-text-area.text-area
          .tag-mark ■
          .tag Name
          .text {{ nameText }}
        .jobs-text-area.text-area
          .tag-mark ■
          .tag Jobs
          .text {{ jobText }}
        .community-text-area.text-area
          .tag-mark ■
          .tag Likes
          .text {{ communityText }}
