@import "../../common/style/config";

.introduction {

  .el-row {
    height: calc(100% - 4.5vw);
  }

  .images-content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;

    .self-image {
      width: 24vw;
    }
  }

  .text-content-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;

    .text-content {
      box-sizing: border-box;
      text-align: left;
  
      .text-area {
        margin-top: 2vw;
        position: relative;

        &:first-child {
          margin: 0;
        }
  
        .tag-mark {
          bottom: 0;
          color: $vue-light-color;
          font-size: 1.8vw;
          line-height: 4.5vw;
          margin: auto;
          padding-left: .5vw;
          position: absolute;
          top: 0;
        }
  
        .tag {
          border-bottom: .5vw solid $vue-light-color;
          font-size: 3vw;
          font-weight: bold;
          line-height: 4.5vw;
          padding-left: 4vw;
          width: 80%;
        }
  
        .text {
          font-size: 3vw;
          line-height: 6vw;
          padding-left: 1rem;
        }
      }
    }
  }
}
