.title {

  .title-area {

    .main-title {
      font-size: 5.5vw;
      white-space: pre-wrap;
    }

    .sub-title {
      font-size: 2.5vw;
      margin-top: 3vw;
      white-space: pre-wrap;
    }
  }
}
