.title.base-height
  .title-area
    el-row.main-title
      el-col AWS-CDK for TypeScript <br> を紹介するぜ
    el-row.sub-title
      el-col kansai.ts#1 <br> Ryosuke Izumi ( is_ryo )
  //- .vue-logo
  //-   img(src="../../assets/vue_logo.png" alt="vue-logo")
