@import "../../common/style/config";

.page-title {
  border-left: 1vw solid $vue-light-color;
  font-size: 3vw;
  font-weight: bold;
  line-height: 4.5vw;
  padding-left: 1.2vw;
  text-align: left;
}
