.section-title {
  align-items: center;
  display: flex;
  justify-content: center;

  .text-area {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;

    .text {
      font-size: 5.5vw;
      padding: 4rem;
      text-align: center;
      white-space: pre-line;
    }
  }
}
