@import "../../common/style/config";

.main-contents {
  overflow-y: scroll;

  .md-content {
    font-size: 2vw;
    text-align: left;

    h1 {
      border-left: 15px solid $vue-light-color;
      font-size: 3vw;
      font-weight: bold;
      line-height: 4.5vw;
      margin: 0;
      padding-left: 20px;
      text-align: left;
    }

    h2, h3, h4 {
      padding: 0 3rem;
    }

    p, ul, ol {
      margin: 1rem 3rem;
      word-break: break-all;

      &.image-wrapper {
        text-align: center;

        img {
          max-width: 25%;
        }
      }
    }

    pre {
      background-color: $vue-dark-color;
      box-sizing: border-box;
      margin: 14px 2rem;
      padding: 18px 36px;

      .code-block {
        color: $code-text-color;
        font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 1.25rem;
      }
    }
  }
}
