.main-contents.base-height
  .md-content(v-html="compiledMarkdownText()")
  //- PageTitle(:title-text="pageTitleText")
  //- .unique-page(v-if="pageName==='fuga'")
  //-   include ./views/fuga
  //- PageContent(:content-text="pageContentText" v-else)
