@import "../../common/style/config";

.main-contents {
  overflow-y: scroll;

  .md-content {
    text-align: left;

    h1 {
      border-left: 1vw solid $vue-light-color;
      font-size: 3vw;
      font-weight: bold;
      line-height: 4.5vw;
      margin: 0;
      padding-left: 1.2vw;
      text-align: left;
    }

    h2, h3, h4 {
      margin: 1rem 0;
      padding: 0 3vw;
    }

    h2 {
      font-size: 3vw;
    }

    h3 {
      font-size: 2.75vw;
    }

    h4 {
      font-size: 2.5vw;
    }

    p, ul {
      font-size: 4vw;
      margin: 1rem 4vw;
      word-break: break-all;

      &.image-wrapper {
        text-align: center;

        img {
          max-width: 25%;
        }
      }

      li {
        line-height: 8vw;
      }
    }

    ol {
      font-size: 4vw;
      margin: 1rem 7vw;
      word-break: break-all;

      li {
        line-height: 8vw;
      }
    }

    pre {
      background-color: $vue-dark-color;
      box-sizing: border-box;
      margin: 14px 3rem;
      padding: 18px 36px;

      .code-block {
        color: $code-text-color;
        font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 1.25rem;
      }
    }
  }
}
