@import "../../common/style/config";

.page-contents {
  align-items: center;
  display: flex;
  height: calc(100% - 4.5vw);
  margin: 0 auto;
  justify-content: center;
  width: 92vw;

  .text {
    font-size: 5vw;
    line-height: 16vh;
  }
}
