.danmaku-text {
  -webkit-transition: all 8s linear;
  -moz-transition: all 8s linear;
  -o-transition: all 8s linear;
  -ms-transition: all 8s linear;
  font-size: 3rem;
  position: absolute;
  transition: all 8s linear;
  right: -50%;

  &.move {
    right: 100%;
  }
}
